## Food Delivery App Data Analysis
Millions of food enthusiasts use the Zomato platform to order food and our main goal is to clean and to prepare the zomato dataset in order to draw insights. Through this analysis we plan on deciphering what makes a restaurant shine, identifying trends in dining preferences and uncovering the secrets behind customer choices.

Our work enhances the Zomato experience for users and restaurant owners alike. Our insights help restaurants refine their offerings, and diners discover the perfect place to satisfy their cravings.

## Module 1
### Task 1: Unlocking Zomato's Flavorful Universe
In this step, we import the main libraries that we will be using to clean the data. The first step will be reading the csv dataset and dropping irrelevant columns

In [1]:
#--- Import Pandas ---
import pandas as pd
# remove any future warning 
import warnings
warnings.filterwarnings("ignore")
#--- Read in dataset ----
df = pd.read_csv("zomato.csv")

df.drop(["address","phone"],inplace=True,axis=1)
#--- Inspect data ---

df

,name,online_order,book_table,rate,votes,location,rest_type,dish_liked,cuisines,approx_cost(for two people),listed_in(type)
0,Jalsa,Yes,Yes,4.1/5,775,Banashankari,Casual Dining,"Pasta, Lunch Buffet, Masala Papad, Paneer Laja...","North Indian, Mughlai, Chinese",800,Buffet
1,Spice Elephant,Yes,No,4.1/5,787,Banashankari,Casual Dining,"Momos, Lunch Buffet, Chocolate Nirvana, Thai G...","Chinese, North Indian, Thai",800,Buffet
2,San Churro Cafe,Yes,No,3.8/5,918,Banashankari,"Cafe, Casual Dining","Churros, Cannelloni, Minestrone Soup, Hot Choc...","Cafe, Mexican, Italian",800,Buffet
3,Addhuri Udupi Bhojana,No,No,3.7/5,88,Banashankari,Quick Bites,Masala Dosa,"South Indian, North Indian",300,Buffet
4,Grand Village,No,No,3.8/5,166,Basavanagudi,Casual Dining,"Panipuri, Gol Gappe","North Indian, Rajasthani",600,Buffet
...,...,...,...,...,...,...,...,...,...,...,...
56247,Best Brews - Four Points by Sheraton Bengaluru...,No,No,3.6 /5,27,Whitefield,Bar,NaN,Continental,"1,500",Pubs and bars
56248,Vinod Bar And Restaurant,No,No,NaN,0,Whitefield,Bar,NaN,Finger Food,600,Pubs and bars
56249,Plunge - Sheraton Grand Bengaluru Whitefield H...,No,No,NaN,0,Whitefield,Bar,NaN,Finger Food,"2,000",Pubs and bars
56250,Chime - Sheraton Grand Bengaluru Whitefield Ho...,No,Yes,4.3 /5,236,"ITPL Main Road, Whitefield",Bar,"Cocktails, Pizza, Buttermilk",Finger Food,"2,500",Pubs and bars
56251,The Nest - The Den Bengaluru,No,No,3.4 /5,13,"ITPL Main Road, Whitefield","Bar, Casual Dining",NaN,"Finger Food, North Indian, Continental","1,500",Pubs and bars

### Task 2: Renaming Columns in a Dataframe
This step involves renaming the columns to make the analysis easier.

In [2]:
rename_columns = {"rate":"rating","approx_cost(for two people)":"approx_cost","listed_in(type)":"type"}
df.rename(columns=rename_columns,inplace=True)

#--- Inspect data ---
df.head()

,name,online_order,book_table,rating,votes,location,rest_type,dish_liked,cuisines,approx_cost,type
0,Jalsa,Yes,Yes,4.1/5,775,Banashankari,Casual Dining,"Pasta, Lunch Buffet, Masala Papad, Paneer Laja...","North Indian, Mughlai, Chinese",800,Buffet
1,Spice Elephant,Yes,No,4.1/5,787,Banashankari,Casual Dining,"Momos, Lunch Buffet, Chocolate Nirvana, Thai G...","Chinese, North Indian, Thai",800,Buffet
2,San Churro Cafe,Yes,No,3.8/5,918,Banashankari,"Cafe, Casual Dining","Churros, Cannelloni, Minestrone Soup, Hot Choc...","Cafe, Mexican, Italian",800,Buffet
3,Addhuri Udupi Bhojana,No,No,3.7/5,88,Banashankari,Quick Bites,Masala Dosa,"South Indian, North Indian",300,Buffet
4,Grand Village,No,No,3.8/5,166,Basavanagudi,Casual Dining,"Panipuri, Gol Gappe","North Indian, Rajasthani",600,Buffet

### Task 3: Data Crafting
The step involves removing null values in the name column, filling null values in the online_order, location,rest_type,dish_liked,cuisines,types and booktable column to an appropriate string. In addition we will be converting null values in rating, votes and approx_cost to 0.

In [3]:
# deleting null values of name column
df.dropna(subset = ["name"],inplace=True)
# handling null values of online_order
df["online_order"].fillna(value="NA",inplace=True)
# changing null values of book_table
df["book_table"].fillna(value="NA",inplace=True)

# changing null values of rating to zero as it is a numerical datatype
df["rating"].fillna(value=0,inplace=True)

# changing null values of votes to zero as it is a numerical datatype
df["votes"].fillna(value=0,inplace=True)

# changing null values of location to NA
df["location"].fillna(value="NA",inplace=True)

# changing null values of rest_type to NA
df["rest_type"].fillna(value="NA",inplace=True)

# changing null values of dishliked to NA
df["dish_liked"].fillna(value="NA",inplace=True)

# changing null values of cuisines to NA
df["cuisines"].fillna(value="NA",inplace=True)

# changing null values of approxcost to 0 as it is a numerical value
df["approx_cost"].fillna(value=0,inplace=True)

# changing null values of type to NA
df["type"].fillna(value="NA",inplace=True)

#--- Inspect data ---
df

,name,online_order,book_table,rating,votes,location,rest_type,dish_liked,cuisines,approx_cost,type
0,Jalsa,Yes,Yes,4.1/5,775,Banashankari,Casual Dining,"Pasta, Lunch Buffet, Masala Papad, Paneer Laja...","North Indian, Mughlai, Chinese",800,Buffet
1,Spice Elephant,Yes,No,4.1/5,787,Banashankari,Casual Dining,"Momos, Lunch Buffet, Chocolate Nirvana, Thai G...","Chinese, North Indian, Thai",800,Buffet
2,San Churro Cafe,Yes,No,3.8/5,918,Banashankari,"Cafe, Casual Dining","Churros, Cannelloni, Minestrone Soup, Hot Choc...","Cafe, Mexican, Italian",800,Buffet
3,Addhuri Udupi Bhojana,No,No,3.7/5,88,Banashankari,Quick Bites,Masala Dosa,"South Indian, North Indian",300,Buffet
4,Grand Village,No,No,3.8/5,166,Basavanagudi,Casual Dining,"Panipuri, Gol Gappe","North Indian, Rajasthani",600,Buffet
...,...,...,...,...,...,...,...,...,...,...,...
56247,Best Brews - Four Points by Sheraton Bengaluru...,No,No,3.6 /5,27,Whitefield,Bar,NA,Continental,"1,500",Pubs and bars
56248,Vinod Bar And Restaurant,No,No,0,0,Whitefield,Bar,NA,Finger Food,600,Pubs and bars
56249,Plunge - Sheraton Grand Bengaluru Whitefield H...,No,No,0,0,Whitefield,Bar,NA,Finger Food,"2,000",Pubs and bars
56250,Chime - Sheraton Grand Bengaluru Whitefield Ho...,No,Yes,4.3 /5,236,"ITPL Main Road, Whitefield",Bar,"Cocktails, Pizza, Buttermilk",Finger Food,"2,500",Pubs and bars
56251,The Nest - The Den Bengaluru,No,No,3.4 /5,13,"ITPL Main Road, Whitefield","Bar, Casual Dining",NA,"Finger Food, North Indian, Continental","1,500",Pubs and bars

### Task 4: Removing Duplicate Rows
Our exploration of the Zomato dataset continues as we embark on a mission to eliminate duplicates.

In [4]:
# droping the duplicates value keeping the first
df.drop_duplicates(inplace=True,keep="first")
#--- Inspect data ---
df

,name,online_order,book_table,rating,votes,location,rest_type,dish_liked,cuisines,approx_cost,type
0,Jalsa,Yes,Yes,4.1/5,775,Banashankari,Casual Dining,"Pasta, Lunch Buffet, Masala Papad, Paneer Laja...","North Indian, Mughlai, Chinese",800,Buffet
1,Spice Elephant,Yes,No,4.1/5,787,Banashankari,Casual Dining,"Momos, Lunch Buffet, Chocolate Nirvana, Thai G...","Chinese, North Indian, Thai",800,Buffet
2,San Churro Cafe,Yes,No,3.8/5,918,Banashankari,"Cafe, Casual Dining","Churros, Cannelloni, Minestrone Soup, Hot Choc...","Cafe, Mexican, Italian",800,Buffet
3,Addhuri Udupi Bhojana,No,No,3.7/5,88,Banashankari,Quick Bites,Masala Dosa,"South Indian, North Indian",300,Buffet
4,Grand Village,No,No,3.8/5,166,Basavanagudi,Casual Dining,"Panipuri, Gol Gappe","North Indian, Rajasthani",600,Buffet
...,...,...,...,...,...,...,...,...,...,...,...
56247,Best Brews - Four Points by Sheraton Bengaluru...,No,No,3.6 /5,27,Whitefield,Bar,NA,Continental,"1,500",Pubs and bars
56248,Vinod Bar And Restaurant,No,No,0,0,Whitefield,Bar,NA,Finger Food,600,Pubs and bars
56249,Plunge - Sheraton Grand Bengaluru Whitefield H...,No,No,0,0,Whitefield,Bar,NA,Finger Food,"2,000",Pubs and bars
56250,Chime - Sheraton Grand Bengaluru Whitefield Ho...,No,Yes,4.3 /5,236,"ITPL Main Road, Whitefield",Bar,"Cocktails, Pizza, Buttermilk",Finger Food,"2,500",Pubs and bars
56251,The Nest - The Den Bengaluru,No,No,3.4 /5,13,"ITPL Main Road, Whitefield","Bar, Casual Dining",NA,"Finger Food, North Indian, Continental","1,500",Pubs and bars

### Task 5: Refining Zomato's Culinary Palette.
In our ongoing quest through the Zomato dataset, we've now set our sights on refining the data even further. We're on a mission to eliminate any traces of 'RATED' or 'Rated' from multiple columns, ensuring that our data reflects the unadulterated essence of dining experiences.

In [5]:
columns_to_filter = ["name","type","approx_cost","cuisines","dish_liked","rest_type","location","votes","rating","book_table"]
# Remove rows in 'df' where any of the specific columns contain 'RATED' or 'Rated'
df = df[~df[columns_to_filter].apply(lambda x: x.str.contains('RATED', case=False)).any(axis=1)]


#--- Inspect data ---
df.shape

(34321, 11)

### Task 6: Clarifying Zomato's Culinary Data.
This steps further refines the zomato's data by filtereing rows where the online_order column contains either 'Yes' or 'No'.In addition, Replacing occurences of various strings in the rating column in order to make the analysis easier later on.

In [12]:
df["online_order"].unique()
# online order table should have only yes and no, remove other values
df=df.query("online_order == 'Yes'|online_order == 'No'")
# check for rating table and replace NEW,- values to 0 and remove /5
replacements = {"NEW":0,"-":0,"/5":""}
df["rating"] = df["rating"].replace(replacements,regex=True)
#--- Inspect data ---
df[["rating","online_order"]]

      rating online_order
0        4.1          Yes
1        4.1          Yes
2        3.8          Yes
3        3.7           No
4        3.8           No
...      ...          ...
56247   3.6            No
56248      0           No
56249      0           No
56250   4.3            No
56251   3.4            No

[34272 rows x 2 columns]

### Task 7: Data Cleaning and Exporting to Csv
By skillfully applying regular expressions, we've polished the restaurant names, removing any extraneous characters that may have marred their authenticity. Now, with the data in its purest form, we save it to 'zomatocleaned.csv. Doing so, we finally complete our data cleaning and refinement process.

In [13]:
df["approx_cost"].count()

34272

In [14]:
# remove unknown character from dataset
df["name"] = df["name"].replace(r'[^A-Za-z0-9\s]',"",regex=True)

df["approx_cost"] = df["approx_cost"].astype(str)

count_numeric = df["approx_cost"].str.replace(",","").str.isnumeric()

df.drop(index=df[count_numeric == False].index,inplace=True)

df["approx_cost"] = df["approx_cost"].str.replace(",","")
df["approx_cost"] = df["approx_cost"].astype(int)

# Export the dataset with following code
df.to_csv('zomatocleaned.csv', index = False)

### Task 8: Data Download, Import, and Database Connection.

In [1]:
# -- Load the sql extention ----
%load_ext sql

# --- Load your mysql db using credentials from the "DB" area ---
%sql mysql+pymysql://root:password@localhost/food_delivery_data

Connecting to 'mysql+pymysql://root:***@localhost/food_delivery_data'

## Module 2
### Task 1: The Top 5 Culinary Champions in the Delivery World
Our exploration of Zomato's culinary galaxy brings us to the exciting world of food delivery. With a carefully crafted SQL query, we've identified the top 5 culinary champions in the 'Delivery' category, selecting their names, votes, and ratings. These restaurants have earned their place by delighting diners and consistently delivering exceptional flavors to their doorstep. Join us as we celebrate these culinary stars who have mastered the art of delivering not just meals but memorable dining experiences to food enthusiasts everywhere.

In [2]:
%%sql 
select name,votes,rating from zomato where type = "Delivery" order by 2 desc limit 5

Running query in 'mysql+pymysql://root:***@localhost/food_delivery_data'

5 rows affected.

+----------------------+-------+--------+
|         name         | votes | rating |
+----------------------+-------+--------+
|  Empire Restaurant   |  8286 |  4.1   |
| Church Street Social |  7544 |  4.3   |
|    Meghana Foods     |  7233 |  4.4   |
|  Empire Restaurant   |  6948 |  4.1   |
|  Empire Restaurant   |  4884 |  4.4   |
+----------------------+-------+--------+

### Task 2: Banashankari's Flavorful Finest: Top 5 Delivery Delights.
Our Zomato journey lands us in Banashankari, a neighborhood alive with culinary treasures and the convenience of food delivery. With a finely-tuned SQL query, we've unearthed the top 5 dining gems in this locale, known for both their exceptional ratings and delivery prowess.

These restaurants, carefully chosen based on name, rating, location, and type, are the epitome of culinary excellence in Banashankari. With ratings in descending order, they promise not just meals but exquisite dining experiences brought straight to your door.

In [3]:
%%sql
select name,rating,location,type from zomato where location = "Banashankari" and type = "Delivery" order by rating desc  limit 5

Running query in 'mysql+pymysql://root:***@localhost/food_delivery_data'

5 rows affected.

+------------------------+--------+--------------+----------+
|          name          | rating |   location   |   type   |
+------------------------+--------+--------------+----------+
|         Onesta         |  4.6   | Banashankari | Delivery |
|         Onesta         |  4.6   | Banashankari | Delivery |
| Corner House Ice Cream |  4.3   | Banashankari | Delivery |
|    Ayodhya Upachar     |  4.3   | Banashankari | Delivery |
|     Stoned Monkey      |  4.3   | Banashankari | Delivery |
+------------------------+--------+--------------+----------+

### Task 3: Exploring Culinary Extremes in Indiranagar.
Our Zomato expedition now takes us to the vibrant neighborhood of Indiranagar, where we aim to uncover the culinary spectrum from affordable to luxurious. With a series of precise SQL queries, we embark on this journey.

First, we set @mincost to capture the rating of the restaurant offering the most budget-friendly dining experience in Indiranagar. Then, we identify @maxcost to represent the rating of the restaurant with the highest-priced offerings.

In [21]:
%%sql


SELECT 
    (SELECT rating 
     FROM zomato AS rating1 
     WHERE location = 'Indiranagar'
     and approx_cost = (select min(approx_cost) from zomato where location = 'Indiranagar')
     limit 1
     ) AS min_rating,
    (SELECT MAX(rating) 
     FROM zomato AS rating2 
     WHERE location = 'Indiranagar'
     and approx_cost = (select max(approx_cost) from zomato where location = 'Indiranagar') limit 1
     ) AS max_rating

Running query in 'mysql+pymysql://root:***@localhost/food_delivery_data'

1 rows affected.

+------------+------------+
| min_rating | max_rating |
+------------+------------+
|    3.1     |    4.5     |
+------------+------------+

### Task 4: Online Orders and the Pulse of Public Opinion.
Our exploration of Zomato's culinary dataset now turns its focus to the world of online ordering. This phase of our journey delves into the choices diners make when it comes to ordering food digitally.

With data analysis as our guide, we seek to uncover the nuances and trends in dining preferences. By grouping and categorizing restaurants based on their online order availability, we gain insights into how this convenience impacts the culinary landscape.

In [22]:
%%sql
select online_order, sum(votes) as total_votes from zomato group by online_order limit 5

Running query in 'mysql+pymysql://root:***@localhost/food_delivery_data'

2 rows affected.

+--------------+-------------+
| online_order | total_votes |
+--------------+-------------+
|     Yes      |   6796488   |
|      No      |   3972091   |
+--------------+-------------+

### Task 5: Exploring Restaurant Types and Their Impact.
In our Zomato data journey, we're on a mission to unravel the diverse world of restaurant types and their influence on the dining landscape. With an insightful SQL query, we've embarked on a quest to understand the restaurant ecosystem.

Our query provides a glimpse into this vibrant culinary tapestry by categorizing and counting restaurants based on their types. We're not just tallying numbers; we're shedding light on the sheer variety of dining experiences.

In [42]:
%%sql
select type, count(*) as number_of_restaurants,sum(votes) as sum_of_votes,cast(avg(rating) as decimal(10,2)) as avg_rating  from zomato group by type  order by 3 desc limit 1,10;

Running query in 'mysql+pymysql://root:***@localhost/food_delivery_data'

7 rows affected.

+--------------------+-----------------------+--------------+------------+
|        type        | number_of_restaurants | sum_of_votes | avg_rating |
+--------------------+-----------------------+--------------+------------+
|      Delivery      |         15100         |   2751091    |    3.03    |
|      Dine-out      |         11700         |   2638383    |    3.04    |
| Drinks & nightlife |          587          |    450462    |    3.77    |
|       Buffet       |          521          |    440347    |    3.84    |
|       Cafes        |          1029         |    351648    |    3.45    |
|      Desserts      |          2307         |    267517    |    3.06    |
|   Pubs and bars    |          429          |    253762    |    3.66    |
+--------------------+-----------------------+--------------+------------+

### Task 6: The Pinnacle of Online Dining.
In our Zomato odyssey, we now turn our attention to the zenith of online dining experiences. With a precision-crafted SQL query, we are on a quest to unveil the crÃ¨me de la crÃ¨me of restaurant choices for those who prefer online orders.

We've set the stage by selecting restaurants that not only offer online ordering ('Yes') but also boast the highest ratings. These are the dining establishments that have earned the utmost trust and admiration of diners in the digital realm.

In [54]:
%%sql
# select * from zomato limit 1
select name,sum(votes) as total_votes from zomato where online_order = "Yes" group by name order by 2 desc limit 1

Running query in 'mysql+pymysql://root:***@localhost/food_delivery_data'

1 rows affected.

+--------+-------------+
|  name  | total_votes |
+--------+-------------+
| Onesta |    237000   |
+--------+-------------+

### Task 7: Uncovering Local Flavors.
Our journey through Zomato's vast culinary database takes us on a delightful detour, where we seek out the hidden gems that may not be as well-known but are cherished by discerning diners. With a meticulous SQL query, we're in pursuit of these lesser-known culinary treasures.

We've set specific criteriaâ€”restaurants with ratings surpassing 3, receiving at least 150 votes, and offering no online ordering. These criteria ensure that we uncover dining establishments that have earned their reputation based on the merits of their cuisine and service.

In [60]:
%%sql
select name,rating,votes , online_order from zomato where rating >3 and votes >= 150 and online_order = "No" order by 3 desc limit 15

Running query in 'mysql+pymysql://root:***@localhost/food_delivery_data'

15 rows affected.

+----------+--------+-------+--------------+
|   name   | rating | votes | online_order |
+----------+--------+-------+--------------+
|   Toit   |  4.7   | 14956 |      No      |
|   Toit   |  4.7   | 14956 |      No      |
| Truffles |  4.7   | 14726 |      No      |
| Truffles |  4.7   | 14723 |      No      |
| Truffles |  4.7   | 14717 |      No      |
| Truffles |  4.7   | 14710 |      No      |
| Truffles |  4.7   | 14704 |      No      |
| Truffles |  4.7   | 14694 |      No      |
| Truffles |  4.7   | 14690 |      No      |
| Truffles |  4.7   | 14654 |      No      |
+----------+--------+-------+--------------+
Truncated to displaylimit of 10.